/*
  act: #FFE500
  green: #09BB00
  labour: #D82C20
  maori: #970000
  national: #7B8CFF
/*

/* @font-face for Gotham fonts*/
@font-face {
  font-family: 'Gotham Regular';
  src: url('assets/fonts/Gotham/Gotham Regular.otf');
}

@font-face {
  font-family: 'Gotham Italic Bold';
  src: url('assets/fonts/Gotham/Gotham ItalicBold.otf');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('assets/fonts/Gotham/Gotham Medium.otf');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('assets/fonts/Gotham/Gotham Light.otf');
}

/* @font-face for Gotham fonts*/
@font-face {
  font-family: 'Charter';
  src: url('assets/fonts/Charter/Charter-Roman-01.ttf');
}

@font-face {
  font-family: 'Charter Italic';
  src: url('assets/fonts/Charter/Charter-Italic-02.ttf');
}

@font-face {
  font-family: 'Charter Italic Bold';
  src: url('assets/fonts/Charter/Charter-BoldItalic-03.ttf');
}

@font-face {
  font-family: 'Charter Bold';
  src: url('assets/fonts/Charter/Charter-Bold-04.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
    height: 100%;
    background: linear-gradient(90deg, #FFFFFF 66.66%, #000000 33.34%);
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}

.column {
  height: 100%;
  position: relative;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#white {
  order: 0;
  flex-basis: 66.66%;
}

#black {
  order: 1;
  flex-basis: 33.34%;
}

.header {
  margin-top: 0vh;
  font-size: 56px;
  font-family: 'Gotham Regular', serif;
  line-height: .9;
}

.act-header {
  color: #FFE500;
}

.green-header {
  color: #09BB00;
}

.labour-header {
  color: #D82C20;
}

.maori-header {
  color: #970000;
}

.national-header {
  color: #7B8CFF;
}

.subheader {
  margin-top: -2px;
  font-size: 28px;
  font-family: 'Charter Italic', serif;
  font-weight: italic;
  color: #FFFFFF;
}

.icon-container {
  display: inline-block;
}

.icon-column {
  position: relative;
  height: 100%;
  width: 100%;
}

.act-icon {
  border: 5px solid #FFE500;
}

.green-icon {
  border: 5px solid #09BB00;
}

.labour-icon {
  border: 5px solid #D82C20;
}

.maori-icon {
  border: 5px solid #970000;
}

.national-icon {
  border: 5px solid #7B8CFF;
}

.mp-icon {
  margin-top: 32px;
  height: 300px;
  border-radius: 100%;
}

.party-icon {
  margin-top: 12px;
  height: 56px;
  border-radius: 100%;
}

.maori-party-icon {
  border: 4px solid #D9001D;
}

.listnum {
  color: #FFFFFF;
  font-family: 'Gotham Light', serif;
  font-size: 36px;
  border-radius: 100%;
  padding: 0;
}

.electorate {
  color: #FFFFFF;
  font-family: 'Gotham Italic Bold', serif;
  font-size: 28px;
}

.portfolios {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 1px;
  margin-top: 14px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 14px;
  padding-bottom: 14px;
}

.portfolio-title {
  color: #FFFFFF;
  font-family: 'Charter Italic Bold', serif;
  font-size: 28px;
  margin-top: 24px;
  opacity: 1;
}

.portfolio-date {
  color: #FFFFFF;
  font-family: 'Charter', serif;
  font-size: 18px;
  opacity: 1;
}

.trio {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}

.trio-column {
  width: 250px;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 36px;
  border-radius: 6%;
  padding-top: 40px;
}

#stances-box {
  background-color: #D44343;
}

#voting-box {
  background-color: #333333;
}

#portfolio-box {
  background-color: #FA9917;
}

.box-header {
  font-size: 42px;
  margin: 12px;
  color: #FFFFFF;
  font-family: 'Gotham Light', serif;
}

.box-icon {
  width: 100px;
  height: 100px;
}

.stances {
  background-color: #D44343;
  width: 100%;
  height: 100vh;
}

.voting {
  background-color: #333333;
  width: 100%;
  height: 200vh;
}

.portfolio {
  background-color: #FA9917;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.section-header {
  padding-top: 24px;
  padding-left: 24px;
  font-size: 64px;
  font-family: 'Gotham Medium', serif;
  color: #FFFFFF;
}

.bill {
  background-color: #FFFFFF;
  margin: 24px 100px 0 100px;
  border-radius: 6px;
  padding-left: 24px;
}

.bill-header {
  font-size: 36px;
  font-family: 'Gotham Medium', serif;
  padding: 18px 0 0 0;
}

.bill-mp-icon {
  border-radius: 100%;
  border: 4px #09BB00 solid;
  width: 100px;
}

.bill-purpose {
  font-size: 20px;
  font-family: 'Charter Italic Bold', serif;
  padding-bottom: 18px;
  padding-right: 120px;
}

.votes {
  font-size: 18px;
  font-family: 'Charter', serif;
  color: #000000;
  padding-bottom: 14px;
}

.bold-italic {
  font-family: 'Charter Italic Bold', serif;
}

.bold {
  font-family: 'Charter Bold', serif;
}

.favour {
  background-color: #09BB00;
  color: #FFFFFF;
  font-family: 'Charter Bold', serif;
  padding: 4px;
  border-radius: 3px;
}

.against {
  background-color: #FF0000;
  color: #FFFFFF;
  font-family: 'Charter Bold', serif;
  padding: 4px;
  border-radius: 3px;
}

.abstain {
  background-color: #FFE500;
  font-family: 'Charter Bold', serif;
  padding: 4px;
  border-radius: 3px;
}
